.option-box {
    height: 48px;
    width: 256px;
    margin-bottom: 43px;
    border: 4px dashed #848484;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}

.option-box.icon {
    width: initial;
    border: initial;
    box-shadow: initial;
    .material-icons {
        text-shadow: 0 1px 0 #000;
        color: #fff
    }
}

.option-box.ghost {
    border-style: dashed;
    opacity: 0.5;
}

.option-container h1 {
    margin: 0px;
    font-weight: 300;
    color: #FFFFFF;
}

.option-box h2 {
    margin-bottom: 0;
	color: #e3e3e3;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1.25px;
}