<div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, priorityOptions)">
  <div *ngFor="let item of priorityOptions; let i = index" [dndDraggable]="item" [dndEffectAllowed]="item.effectAllowed"
    (dndMoved)="onDragged(item, priorityOptions, 'move')" (dndCanceled)="onDragged(item, priorityOptions, 'none')">
    <div class="media option-container">
      <h1 class="mr-5"> {{ i + 1 }} </h1>
      <div class="mr-3 option-box d-flex justify-content-center align-items-center">
        <h2>{{item.content}}</h2>
      </div>
      <!-- 
      <div class="option-box icon d-flex justify-content-center align-items-center">
        <i class="material-icons" (click)="deleteOption(i)">close</i>
      </div>-->

    </div>
  </div>
  <div dndPlaceholderRef>
    <div class="media option-container ghost">
      <h2 class="mr-5"> * </h2>
      <div class="option-box ghost d-flex justify-content-center align-items-center">
        <h2> DROP OPTION HERE </h2>
      </div>
    </div>
  </div>
</div>