<div class="map-container">            
        <agm-map #AgmMap [latitude]="mapCenterLat"
        [zoom]="10"
        [longitude]="mapCenterLng" 
        [styles]="styles"
        (mapReady)="mapReady($event)">
        </agm-map>
</div>

<div class="row">
    <div class="col-2 no-padding">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <img src="../../../assets/logo.svg" alt="">
                </div>
            </div>

            <div class="explore-info">
                <span class="item-label">Explorando el área</span>
                <span class="item-value">{{ state }}</span>
            
                <span class="item-label">Presupuesto</span>
                <span class="item-value last">{{ budget | currency:'USD':'symbol':'1.0-0' }}</span>
                <div class="slider-container">
                    <mat-slider (change)="budgetChange($event)" min="1000000" max="10000000" step="100000" value="3000000"></mat-slider>
                </div>
            </div>

            <div class="favorites text-left">
                <div class="favorites-header">
                    Favoritos
                </div>

                <div class="favorites-container">
                    <ul class="favorites-list">
                        <li> <i class="material-icons">location_on</i>Puerta del Sol #407 Col. Santa Martha<i class="material-icons right">favorite</i></li>
                        <li> <i class="material-icons">location_on</i>Vicente Guerrero #371 Col. Mitras Centro <i class="material-icons right">favorite</i></li>
                        <li> <i class="material-icons">location_on</i>Miguel Aleman #222, Col La Fe<i class="material-icons right">favorite</i></li>
                    </ul>

                    <div class="text-right">
                        <button (click)="goToCompare()" class="submit-button">Comparar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="layers-controller" *ngIf="layersActive">
        <ul class="layers-list">
            <li><mat-checkbox>Poblacion actual</mat-checkbox></li>
            <li><mat-checkbox>Proyeccion a futuro</mat-checkbox></li>
            <li><mat-checkbox>Competidores</mat-checkbox></li>
            <li><mat-checkbox>Flujo vial</mat-checkbox></li>
            <li><mat-checkbox>Flujo de personas</mat-checkbox></li>
        </ul>
    </div>
    <button (click)="layersActive = !layersActive" class="layers-toggle" mat-fab><i class="material-icons">layers</i></button>
</div>
