@import '../../../assets/colors.scss';

.map-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;

    agm-map {
        height: inherit;
    }
}

.sidebar { 
    background-color: $black-background;
    color: #fff;
    height: 100vh;
    .sidebar-header {
        height: 80px;
        width: 100%;
        text-align: center;
        position: relative;
        padding: 20px 10px;
        font-size: 24px;
        margin-bottom: 15px;

        .logo {
            position: absolute;
            left: 0;
            top: 2px;
            img {
                width: 85px;
            }
        }
    }
    
    .explore-info {
        padding: 5px;
        span { 
            display: block;
        }

        .item-label { 
            font-size: 20px;
        }

        .item-value {
            font-size: 40px;
            margin-bottom: 40px;

            &.last{ 
                margin-bottom: 0px;
            }
        }
    }

    .favorites {
        position: relative;
        padding: 5px;
        .favorites-header{ 
            font-size: 16px;
        }

        .favorites-container {
            .favorites-list {
                list-style: none;
                padding: 10px;

                li { 
                    border-bottom: 1px solid #cccccc6b;
                    padding: 10px 0;
                }

                i{
                    margin-right: 5px;
                    vertical-align: top;
                    &.right { 
                        float: right;
                    }
                }
            }

            .submit-button { 
                border: 0;
                background: transparent;
                color: $white;
                text-transform: uppercase;
                font-size: 14px;
                color: #ccccccb0;
                cursor: pointer;
            }
        }
    }
}


.layers-controller {
    border-radius: 16px;
    width: 200px;
    height: 220px;
    padding: 20px;
    background-color: $black-background;
    color: #fff;
    position: absolute;
    bottom: 53px;
    right: 50px;

    .layers-list {
        padding: 0; 
        list-style: none;
    }
}
.layers-toggle { 
    position: absolute;
    bottom: 27px;
    right: 82px;
    background-color: #00A77F;
}

.slider-container { 
    color: #fff;
    padding: 5px;
    .mat-slider {
        width: 100%;
    }
}