@import '../../../assets/colors.scss';

.map-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;

    agm-map {
        height: inherit;
    }
}

.shadow {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0.66);
}

.highlight {
    z-index: 501;
}

.card-section {
    background-color: $black-background;
    min-height: 100vh;
    .card {
        border-radius: 16px;
    }
    .card-row {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .card-title {
        margin-bottom: 48px;
    }
    .store {
        width: 20px;
        height: 20px;
    }
    a{
        color: #fff;
    }
}

.sidebar { 
    color: #fff;
    height: 100vh;
    .sidebar-header {
        height: 80px;
        width: 100%;
        text-align: center;
        position: relative;
        padding: 20px 10px;
        font-size: 24px;
        margin-bottom: 15px;

        .logo {
            position: absolute;
            left: 0;
            top: 2px;
            margin-top: 66px;
            img {
                width: 85px;
            }
        }
    }
    
    .explore-info {
        padding: 5px;
        span { 
            display: block;
        }

        .item-label { 
            margin-top: 96px;
            font-size: 40px;
            font-weight: 300;
            line-height: 48px;
        }
    }

    .sidebar-bottom-bar {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;

        p,
        i {
            cursor: pointer;
        }
    }
}

.card-body {
    h1 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 0px;
    }
    h2 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0px;
    }
    p{
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0px;
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}

.loading {
    height: 10px;
    margin: 10px;
    animation: pulse 1s infinite ease-in-out;
    &.skeleton-title {
        width: 50%;
    }
    &.skeleton-body {
        width: 92%;
    }
}

